* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eff6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    height: 100vh;

    font-family: 'Karla', sans-serif;
}

/* LAYOUT */

.card {
    box-shadow: 0px 0px 25px 2px #c7dbe9;
    border-radius: 10px;
}

.card-top {
    width: 640px;
    height: 220px;

    padding: 30px;

    background-color: white;

    border-radius: 10px 10px 0px 0px;

}

.card-bottom {
    width: 640px;
    height: 260px;

    display: flex;
    flex-wrap: wrap;

}

.card-bottom-one {
    width: 320px;
    height: 260px;

    padding: 30px;

    background-color: #2bb3b1;

    border-radius: 0px 0px 0px 10px;
}

.card-bottom-two {
    width: 320px;
    height: 260px;

    padding: 30px;

    background-color:#4abebd;

    border-radius: 0px 0px 10px 0px;
}

@media (max-width: 650px) {
    .card-top {
        width: 320px;
        height: 280px;

        padding: 20px;

        border-radius: 10px 10px 0px 0px;
    }

    .card-bottom {
        width: 320px;
        height: 260px;
    
        display: flex;
        flex-wrap: wrap;
    }

    .card-bottom-one {
        padding: 20px;

        border-radius: inherit;
    }

    .card-bottom-two {
        padding: 20px;

        border-radius: 0px 0px 10px 10px;
    }

    .card {
        position: relative;
        top: -100px;


    }
}

/* ------------------------- */

/*STYLE CARD TOP*/

.card-top h1 {
    color: #4accce;
    margin-bottom: 25px;
}

.card-top h2 {
    color: #cae252;
    margin-bottom: 15px;
}

.card-top p {
    color: #a2a5aa;
    line-height: 1.5rem;
}

@media (max-width: 650px) {
    .card-top h1 {
        margin-bottom: 15px;
    }

    .card-top h2 {
        font-size: 1.1rem;
    }
}

/* ------------------------- */

/*STYLE CARD BOTTOM LEFT*/

.card-bottom-one h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.price {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.price span {
    color: #6bd9d8;
    font-size: 1rem;
    font-weight: 400;

    position: relative;
    top: -5px;
}

.text {
    margin-top: 10px;
    color: #dcffff;
    font-weight: 400;
    margin-bottom: 30px;
}

button {
    background-color: #bfdf32;
    color: white;
    border: none;

    width: 100%;
    height: 25%;

    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px #259e9e;

    font-weight: 700;
}

button:hover {
    cursor: pointer;
    font-size: 1.4rem;
    transition: 2s;
}


/*STYLE CARD BOTTOM RIGHT*/

.card-bottom-two h1 {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.card-bottom-two p {
    width: 70%;
    color: #daffff;
    font-size: 0.85rem;
    line-height: 1.3rem;
    font-weight: 400;
}